@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0b0a0a;
    color: #fbd603;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fbd603;
    padding: 20px;
}

.head-nev {
    background-color: #fbd603;
    padding: 10px 20px;
    align-items: center;
    color: #0b0a0a;
}

.head-nev .logo {
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.head-nev nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    list-style-type: none;
}

.head-nev nav ul li {
    float: right;
    margin-left: 20px;
}

.head-nev nav ul li a {
    color: #0b0a0a;
    display: block;
    text-decoration: none;
    float: right;
    font-weight: bold;
}

.head-nev .logo {
    text-align: left;
    margin-left: 20px;
}

.intro-section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-section .content {
    max-width: 50%;
}

.intro-section h1 {
    font-size: 36px;
    color: #ffffff;
}

.intro-section p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}

.intro-section .button {
    background-color: #fbd603;
    color: #0b0a0a;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.intro-section .image img {
    height: auto;
    max-width: 100%;
}

.contact-us-section {
    padding: 20px;
}

.contact-us-section h2 {
    font-size: 24px;
}

.contact-us-section form input {
    padding: 10px;
    margin: 20px 20px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid #fbd603;
    background-color: #0b0a0a;
    color: #fbd603;
}

.contact-us-section form button {
    background-color: #fbd603;
    color: #0b0a0a;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.table-section {
    padding: 40px;
    margin: 20px;
}

.table-section table {
    width: 100%;
    padding: 40px;
    border-collapse: collapse;
}

.table-section table,
.table-section th,
.table-section td {
    border: 1px solid #fbd603;
    text-align: left;
    padding: 8px;
}


.table-section .foot-c td {
    background-color: #fbd603;
    color: #0b0a0a;
}

.table-section td {
    background-color: #0b0a0a;
}